n8n/n8n/workflows/multi-channel-send.json
{
  "name": "Multi-channel Send",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1456, -224],
      "id": "a85b1f71-d0a5-463a-938c-ca483e3bafad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=http://backend:8000/api/campaign-workflows?include=contacts,templates",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Accept\": \"application/json\",\n  \"X-User-Id\": \"1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-1184, -272],
      "id": "6f939f24-e81f-4306-a7ae-1d6347e7873d",
      "name": "Get Campaign"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-944, -272],
      "id": "925f1e50-4ad1-4606-be72-28e2860a4f9b",
      "name": "Split Out Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Qashzec7KBSny1s9Are3O",
          "mode": "list",
          "cachedResultUrl": "/workflow/Qashzec7KBSny1s9Are3O",
          "cachedResultName": "Multi-channel Send"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-688, -272],
      "id": "52b11ffc-b01a-46d9-af89-8a40850819a0",
      "name": "Call Worker"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1440, 144],
      "id": "aba0b81c-ba18-42db-b463-4a0135ff2253",
      "name": "Worker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/workflow-users/{{ $json.workflow_user_id }}/trigger",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\",\n  \"X-User-Id\": \"1\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-1184, 144],
      "id": "25673550-5657-4af7-8db5-4baaa62324af",
      "name": "Trigger workflow run",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Worker\nMột enrollment Campaign workflow = `POST /api/workflow-users/{workflow_user_id}/trigger`. Symfony enqueue WorkflowRun; Messenger xử lý từng bước và gọi WORKFLOW_SMS_WEBHOOK_URL khi tới bước SMS.\n\nHeader `X-User-Id` phải trùng user sở hữu workflow (seed: 1). Host `backend` chỉ đúng khi n8n cùng Docker network.",
        "height": 320,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1520, 0],
      "typeVersion": 1,
      "id": "417ec662-4105-4099-8273-4ba11eca6d4e",
      "name": "Sticky Note Worker"
    },
    {
      "parameters": {
        "content": "## Dispatcher\n- **Chuẩn:** `GET /api/campaign-workflows?include=contacts,templates` — toàn bộ Campaign workflow (giống tab UI). Lọc tuỳ chọn: `status=scheduled`, `channel=sms`, …\n- **Cũ (alias):** `GET /api/marketing/campaigns` cùng response — tránh dùng cho flow mới để khỏi nhầm \"marketing\".",
        "height": 280,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1520, -464],
      "typeVersion": 1,
      "id": "0afa07e0-ba84-41fc-9476-15779f96a15f",
      "name": "Sticky Note Dispatcher"
    },
    {
      "parameters": {
        "path": "marketing-dispatch",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1456, -368],
      "id": "bfb8d0ea-5221-4490-a064-01f4281a1b80",
      "name": "Webhook",
      "webhookId": "51971ed0-a362-40b4-a087-f7c77d2f767a"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Campaign", "type": "main", "index": 0}]]
    },
    "Get Campaign": {
      "main": [[{"node": "Split Out Data", "type": "main", "index": 0}]]
    },
    "Split Out Data": {
      "main": [[{"node": "Call Worker", "type": "main", "index": 0}]]
    },
    "Call Worker": {
      "main": [[]]
    },
    "Worker": {
      "main": [[{"node": "Trigger workflow run", "type": "main", "index": 0}]]
    },
    "Webhook": {
      "main": [[{"node": "Get Campaign", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "33f8484f-2064-4928-869e-58ee48ff7515",
  "meta": {
    "instanceId": "d97ffda5ae0bf4002f0ee9f6f9785aa4b02e8efa87b44692bcc829397ea223b4"
  },
  "id": "Qashzec7KBSny1s9Are3O",
  "tags": []
}
